<!-- register.component.html -->
<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div class="position-relative row w-100 h-100 bg-gradient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <h2>Create an Account</h2>
          </div>

          <!-- Form for user registration -->
          <form class="m-t-30" (ngSubmit)="register()">
            <!-- Name input -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Name</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput [(ngModel)]="name" name="name" required />
            </mat-form-field>

            <!-- Email input -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Email Address</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="email" [(ngModel)]="email" name="email" required />
            </mat-form-field>

            <!-- Password input -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" [(ngModel)]="password" name="password" required />
            </mat-form-field>

            <!-- Submit button -->
            <button mat-flat-button color="primary" class="w-100" type="submit">Register</button>
          </form>

          <!-- Link to go back to login -->
          <span class="d-block f-w-500 text-center m-t-24">
            Already have an Account?
            <a [routerLink]="['/authentication/login']" class="text-decoration-none text-primary f-w-500 f-s-14">Sign In</a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
