<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div class="position-relative row w-100 h-100 bg-gradient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div *ngIf="!userRole">
            <div class="text-center">
              <h2>Welcome to Careplane</h2>
            </div>

            <div class="row m-t-24 custom-row">
              <div class="col-12 col-sm-4">
                <button mat-stroked-button class="w-100" (click)="setUserRole('admin')">
                  Admin
                </button>
              </div>
              <div class="col-12 col-sm-4">
                <button mat-stroked-button class="w-100" (click)="setUserRole('patient')">
                  Patient
                </button>
              </div>
              <div class="col-12 col-sm-4">
                <button mat-stroked-button class="w-100" (click)="setUserRole('doctor')">
                  Doctor
                </button>
              </div>
            </div>
          </div>

          <form *ngIf="userRole" class="m-t-30" (ngSubmit)="login()">
            <div class="text-center m-b-24">
              <h3>Sign In as {{ userRole }}</h3>
            </div>

            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Username</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput [(ngModel)]="username" name="username" required />
            </mat-form-field>
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" [(ngModel)]="password" name="password" required />
            </mat-form-field>

            <div class="d-flex align-items-center m-b-12">
              <mat-checkbox color="primary">Remember this Device</mat-checkbox>
              <a [routerLink]="['/']" class="text-primary f-w-600 text-decoration-none m-l-auto f-s-14">Forgot Password?</a>
            </div>
            <button mat-flat-button color="primary" class="w-100" type="submit">Sign In</button>
            <button mat-stroked-button color="accent" class="w-100 m-t-12" (click)="resetUserRole()">Back</button>
          </form>

          <span class="d-block f-w-500 text-center m-t-24">New to Careplane?
            <a [routerLink]="['/authentication/register']" class="text-decoration-none text-primary f-w-500 f-s-14">Create an account</a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
